@mixin button-color ($textColor: $color-light, $backgroundColor: $gradiente-11) {
    position: relative;
    display: inline-block;
    padding: .9rem 2rem;
    margin: .8rem .5rem;
    background: $backgroundColor;
    color: $textColor;
    text-transform: capitalize;
    font-size: 1.1rem;
    letter-spacing: 2px;
    box-shadow: $shadow-3;
    cursor: pointer;
    transition: $transition;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin  bg-color {
    background: $color-dark;
    color: $color-light;
}